/* Estructura de grid */
.layout {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid:
    "header header header" 15%
    "leftSide body rightSide" 1fr
    "footer footer footer" 15%
    / auto 1fr auto;
  gap: 8px;
}

.header {
  grid-area: header;
}
.leftSide {
  grid-area: leftSide;
}
.body {
  grid-area: body;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightSide {
  grid-area: rightSide;
}
.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}

.hero__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

.hero__text {
  flex: 1;
  padding-right: 20px;
  display: flex;              /* Activa Flexbox */
  flex-direction: column;        /* Alinea los hijos en fila */
  justify-content: center;    /* Centra horizontalmente los elementos */
  align-items: center;        /* Centra verticalmente los elementos */
}


.hero__logo {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
text-align: center;
}

.hero__subtitle {
  font-size: 2.5rem;
  margin-bottom: 24px;
  color: #020202;
  text-align:center;
  font-weight: lighter;
}

.hero__buttons {
  display: flex;
  gap: 12px;
}

.hero__button {
  display: flex;
  align-items: center;
  gap: 8px; /* Opcional, para separar icono y texto */
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.hero__button--light {
  background-color: #fff;
  color: #111111;
  border: 1px solid #ddd;
}

.hero__phone {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
}

.hero__iphone {
  width: 100%;
  max-width: 300px;
  height: auto;
}



/* Footer estilos */
.footer__left {
  font-size: 1rem;
  color: black;
  font-weight: lighter;
}
.footer__right {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.footer__link {
  text-decoration: underline;
  color: inherit;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .hero__content {
    flex-direction: column;
    text-align: center;
  }

  .hero__subtitle {
    font-size: 1.5rem;
    margin-bottom: 24px;
    color: #020202;
    text-align:center;
    font-weight: lighter;
  }

  .layout {
    grid:
      "header header header" 8%  /* Header más pequeño */
      "leftSide body rightSide" 1fr
      "footer footer footer" 15%
      / auto 1fr auto;
  }

.hero__text{
  margin: 0 0 3rem 0;
}
  .footer {
    padding: 2rem;
    flex-direction: column;
    gap: 10px;
  }
  .footer__right {
    justify-content: center;
  }

}
